@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-family: Lato, Verdana, sans-serif;
    background-color: rgb(1, 17, 38);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button, [role=button] {
    width: max-content;
    background-color: rgb(173, 197, 217);
    border: 2px solid transparent;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    color: black;
    transition: 0.3s;
}

[role=button] {
    height: max-content;
    font-size: 16px;
}

button:hover, [role=button]:hover {
    background-color: rgb(2, 40, 89);
    border: 2px solid black;
    color: white;
}

h1 {
    --color: white;
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    --color: white;
}