nav {
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-container {
    background-color: rgba(1, 17, 38, 0.5);
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}