nav {
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  border-bottom: 2px solid black;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-container {
    background-color: rgba(1, 17, 38, 0.5);
    width: 50%;
    height: 50vh;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav p {
  font-style: italic;
  color: white;
}

nav [role=button] {
  height: 70px;
  width: 220px;
  font-size: 22px;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}